{% extends 'base.html' %}
{% load static %}
{% block content %}
</br></br>
</br></br>
<div class="container-fluid">
    <div class="text-center pb-2">
        <h1>Shopping Cart</h1>
    </div>
</div> 
<hr>
<div class="container">
    <div class="row">
        <div class="col-md-4 pb-2">
            <i class="fas fa-arrow-left"></i><a href="{% url 'store' %}"><button class="btn btn-sm btn-success m-1">Continue Shopping</button></a>
        </div>
    </div>
    
    <p>Your cart total is:<strong> £{{ order.get_cart_total }}</strong> <a href="{% url 'checkout' %}"><button class="btn btn-sm btn-warning d-inline m-1">Checkout</button></a></p>
    <table class="table">
        <thead>
            <tr>
            <th>Items: {{ order.get_cart_items }}</th>
            <th>Product</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">Total</th>
            </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
            {% if item.product.image %}
            <td><img src="{{item.product.image.url}}" class="img-fluid" alt="" height=200 width=200></img></td>
            {% else %}
            <td><img src="{% static '../media/no_image.png'%}" class="img-fluid" alt="" height=200 width=200></img></td>
            {% endif %}
            <td>{{item.product.name}}</td>
            <td>{{item.quantity}}
                <div class="pl-2 d-inline">
                    <a href="#"><i data-product="{{item.product.id}}" data-action="sub" class="fas fa-angle-down update-cart"></i></a> | 
                    <a href="#"><i data-product="{{item.product.id}}" data-action="add" class="fas fa-angle-up update-cart"></i></a>
                </div>
            </td>
            <td>£{{item.product.price}}</td>
            <td>{{item.get_total}}</td>            
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="float-right ">
        <h3>£ {{ order.get_cart_total }}</h3>
        <a href="{% url 'checkout' %}"><button class="btn btn-lg btn-warning d-block m-1">Checkout</button></a>
    </div>
{% endblock content %}
