{% extends 'base.html' %}
{% block content %}
{% load static %}
</br></br>
</br></br>
<div class="container-fluid">
    <div class="text-center pb-2">
        <h1>Checkout</h1>
    </div>
</div> 
<hr>
<div class="container">
    <div class="row">
	    <div class="col-lg-6">
		    <div class="box-element" id="form-wrapper">
                <form id="form">
                    <div id="user-info">
                        <div class="form-field">
                            <input required class="form-control" type="text" name="name" placeholder="Name..">
                        </div>
                        <div class="form-field">
                            <input required class="form-control" type="email" name="email" placeholder="Email..">
                        </div>
                    </div>
                    
                    <div id="shipping-info">
                        <hr>
                        <p>Shipping Information:</p>
                        <hr>
                        <div class="form-field">
                            <input class="form-control" type="text" name="address" placeholder="Address..">
                        </div>
                        <div class="form-field">
                            <input class="form-control" type="text" name="city" placeholder="City..">
                        </div>
                        <div class="form-field">
                            <input class="form-control" type="text" name="state" placeholder="State..">
                        </div>
                        <div class="form-field">
                            <input class="form-control" type="text" name="zipcode" placeholder="Zip code..">
                        </div>
                    </div>
                    <hr>
                    <input id="form-button" class="btn btn-success btn-block" type="submit" value="Continue">
                </form>
		    </div>	
	    </div>
        <div class="col-lg-6">
		    <div class="box-element">
                <a  class="btn btn-outline-dark mb-1" href="{% url 'cart' %}">&#x2190; Back to Cart</a>
                <table class="table">
                    <thead>
                        <tr>
                        <th>Items: {{ order.get_cart_items }}</th>
                        <th>Product</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price</th>
                        <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for item in items %}
                        <tr>
                        {% if item.product.image %}
                        <td><img src="{{item.product.image.url}}" class="img-fluid" alt="" height=200 width=200></img></td>
                        {% else %}
                        <td><img src="{% static '../media/no_image.png'%}" class="img-fluid" alt="" height=200 width=200></img></td>
                        {% endif %}
                        <td>{{item.product.name}}</td>
                        <td>{{item.quantity}} <div class="pl-2 d-inline"><a href="#"><i class="fas fa-angle-down"></i></a> | <a href="#"><i class="fas fa-angle-up"></i></a></div></td>
                        <td>{{item.product.price}}</td>
                        <td>£{{item.get_total}}</td>            
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <h5>Items: {{order.get_cart_items}}</h5>
	            <h5>Total: £{{order.get_cart_total}}</h5>
            </div>
		</div>
	</div>
</div>
    
        
{% endblock content %}
