
{% extends 'base.html' %}
{% load static %}
{% block content %}
<br><br><br><br><br><br>
<div class="container-fluid mt-5">
    <div class="text-center pb-2">
        <h1>My Store</h1>
    </div>
</div>

<hr>
<div class="container-fluid d-flex justify-content-center">
       <div class="dropdown mb-3 btn-group mr-2">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sort Products by Category
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="{% url 'store' %}?category=subscriptions">Subscriptions</a>
            <a class="dropdown-item" href="{% url 'store' %}?category=equipment">Equipment</a>
            <a class="dropdown-item" href="{% url 'store' %}?category=books">Books</a>
            <a class="dropdown-item" href="{% url 'store' %}">All Products</a>
        </div>
    </div>
    <div class="dropdown mb-3 btn-group mr-2">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sort Products by Price
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="{% url 'store' %}?sort=price&direction=desc">High to Low</a>
            <a class="dropdown-item" href="{% url 'store' %}?sort=price&direction=asc">low to High</a>
            <a class="dropdown-item" href="{% url 'store' %}">All Products</a>
        </div>
    </div>
    <div class="dropdown mb-3 btn-group">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sort Products by Name
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="{% url 'store' %}?sort=name&direction=desc">Z - A</a>
            <a class="dropdown-item" href="{% url 'store' %}?sort=name&direction=asc">A - Z</a>
            <a class="dropdown-item" href="{% url 'store' %}">All Products</a>
        </div>
    </div>

</div>
<div class="container products-wrapper">
    <div class="row">
        <div class="col-12">
            {% if search_term or current_categories or current_sorting != 'None_None' %}
                <span class="small"><a href="{% url 'store' %}">Clear</a></span>
            {% endif %}
            <p>{{products|length}} Products {% if search_term  %} found for <strong>"{{ search_term }}"</strong>{% endif %}</p>
        <div>
    </div>
    <div class="row">
    {% for product in products  %}
        <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-2">
            <div class="card w-100 border-0" >
                {% if product.image %}
                <a href="{% url 'product_view' product.id %}">
                <img src="{{product.image.url}}" class="card-img-top h-20" alt="...">
                </a>
                {% else %}
                <a href="{% url 'product_view' product.id %}">
                <img src="{% static '../media/no_image.png'%}" class="card-img-top h-20" alt="...">
                </a>
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ product.name|slice:"15" }}</h5>
                    <p class="card-text">{{ product.description|slice:"40" }}...</p>
                </div>
                <div class="card-footer">    
                    <div class="">Price : <span class="float-right">£{{ product.price }}</span></div>
                    <button class="btn btn-sm btn-primary btn-add">Add to cart</button>
                    <a href="{% url 'product_view' product.id %}"><button class="btn btn-sm btn-success">view</button></a>
                    {% if product.category %}
                    <p class="small mt-1">
                        <a class="text-muted" href="{% url 'store' %}?category={{product.category.name}}"><i class="fa fa-tag mr-1"></i>{{product.category.friendly_name}}</a>
                    </p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% comment %} Loops to create <hr> on all screen sizes ased on number of items per row {% endcomment %}
        <div class="col-12 d-sm-block d-md-none mb-4">
            <hr>
        </div>
        {% if forloop.counter|divisibleby:2 %}
        <div class="col-12 d-none d-md-block d-lg-none mb-4">
            <hr>
        </div>
        {% endif %}
        {% if forloop.counter|divisibleby:3 %}
        <div class="col-12 d-none d-lg-block d-xl-none mb-4">
            <hr>
        </div>
        {% endif %}
        {% if forloop.counter|divisibleby:4 %}
        <div class="col-12 d-none d-xl-block mb-4">
            <hr>
        </div>
        {% endif %}
    {% endfor %}
    </div>
</div>
<div class="btt-button btn btn-outline-dark">
    <a class="d-flex h-100 btt-btn">
        <i class="fas fa-arrow-up my-auto mx-auto"></i>
    </a>
</div>   

{% endblock content %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $('.btt-btn').click(function(e){
            window.scrollTo(0,0)
        });
    </script>

{% endblock postloadjs %}