
{% extends 'base.html' %}
{% load static %}
{% block content %}
</br>
<div class="container-fluid">
    <div class="text-center pb-2">
        <h1>My Store</h1>
    </div>
</div> 
<hr>      

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
            <div class="card">
                <img src="{% static '../media/blog_post_images/model.jpg'%}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Product Title</h5>
                    <p class="card-text">view that displays a form for editing an existing object, redisplaying</p> 
                    <div class="">Price : <span class="float-right">£10.99</span></div>
                    <a href="#"><button class="btn btn-sm btn-primary">Add to cart</button></a>
                    <a href="#"><button class="btn btn-sm btn-success">view</button></a>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
            <div class="card">
                <img src="../media/blog_post_images/model.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <a href="#"><button class="btn btn-primary">Add to cart</button></a>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
            <div class="card">
                <img src="../media/blog_post_images/model.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <a href="#"><button class="btn btn-primary">Add to cart</button></a>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
            <div class="card">
                <img src="../media/blog_post_images/model.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <a href="#"><button class="btn btn-primary">Add to cart</button></a>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}