
{% extends 'base.html' %}
{% load static %}
{% block content %}
</br></br>
</br></br>
<div class="container-fluid">
    <div class="text-center pb-2">
        <h1>My Store</h1>
    </div>
</div> 
<hr>
     
<div class="container">
    <div class="row">
    {% for product in products  %}
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
            <div class="card">
                {% if product.image %}
                <a href="#">
                <img src="{{product.image.url}}" class="card-img-top" alt="...">
                </a>
                {% else %}
                <a href="#">
                <img src="{% static '../media/no_image.png'%}" class="card-img-top" alt="...">
                </a>
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ product.name|slice:"30" }}</h5>
                    <p class="card-text">{{ product.description|slice:"100" }}</p> 
                    <div class="">Price : <span class="float-right">£{{ product.price }}</span></div>
                    <button data-product="{{product.id}}" data-action="add" class="update-cart btn btn-sm btn-primary btn-add">Add to cart</button>
                    <a href="#"><button class="btn btn-sm btn-success">view</button></a>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock content %}