html {
    height: 100%;
}
/* only need for home page must move */
.carousel-caption {
    
    top: 0px;
    right: 0px;
}

body {
   
    font-family: 'Noto Sans', sans-serif;
   
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* .nav-link {
    font-size: larger;
    padding: 0px;
}

#topnav {
    background-color: whitesmoke;
}

/* .carousel-inner {
    max-height: 70vh;
} */
  