html {
    height: 100%;
}

body {
    height: calc(100% - 164px);
    font-family: 'Noto Sans', sans-serif;  
}

a {
    color: black;
}
/* only need for home page must move */
.carousel-caption {
    
    top: 0px;
    right: 0px;
}



/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.card-img-top {
    height: 20vh;
}

.btt-button {
    height: 45px;
    width: 45px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

/* .nav-link {
    font-size: larger;
    padding: 0px;
}

#topnav {
    background-color: whitesmoke;
}

/* .carousel-inner {
    max-height: 70vh;
} */
  