<ul class="nav d-flex justify-content-between mt-3">
    <li class="nav-item">
        <a class="nav-link active" href="{% url 'home' %}">
            <div class="text-center">
                <i class="fas fa-home fa-lg"></i>
                <p>Home</p>
            </div>
        </a>
    </li>
    <li class="nav-item"> 
        <a class="nav-link" href="{% url 'store' %}">
            <div class="text-center">
                <i class="fas fa-store fa-lg"></i>
                <p>My Store</p>
            </div>
        </a>
    </li>
    <li class="nav-item ">
        <a class="nav-link" href="{% url 'blog' %}">
            <div class="text-center">
                <i class="fas fa-podcast fa-lg"></i>
                <p>Blog</p>
            </div>
        </a>
    </li>
</ul> 