<div class="collapse navbar-collapse" id="site-nav">
    <ul class="navbar-nav w-auto mx-auto d-flex justify-content-evenly">
        <li class="nav-item">
            <a class="mr-5 py-2" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item dropdown">
            <a class="mr-5" href="{% url 'store' %}">Store</a>
        </li>
        <li class="nav-item">
            <a class="mr-5" href="{% url 'blog' %}">Blog</a>
        </li>
        <li class="nav-item">
            <a class="" href="{% url 'blog' %}">Blog</a>
        </li>
    </ul>
</div>