{% extends 'base.html' %}
{% load static %}
{% block extratitle %}Blog{% endblock extratitle %}
{% block content %}
<br><br><br><br><br><br>
<div class="container pt-5">
    <h1>Add a blog post:</h1>
</div>
    <div class="container">
        <div class="row">
            <div class="col-md-6"> 
                <form method="POST" action="{% url 'add' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p}}
                    <div>
                        <p>
                            <button type="submit">Add a post</button>    
                        </p>
                    </div>
                </form>
                <a href={% url 'blog' %}><button>Back</button></a>            
            </div>
        </div>
    </div>
{% endblock %}
