{% extends 'base.html' %}
{% load static %}
{% block extratitle %}{{ blog_post.title }}{% endblock extratitle %}
{% block content %}
<div class="container pt-5">
    <h1 class="text-center">{{ blog_post.title }}</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <p>{{ blog_post.body|safe }}</p>
            <form method="POST" action="{% url 'likes' blog_post.pk %}">
            {% csrf_token %}
            <p>
            <button type="submit" name="blog_post_id" value="{{ blog_post.id }}">Like</button> - {{ total_likes }} Likes
            </p>
            </form>
            <p><a href={% url 'blog' %}><button>Back</button></a></p>
        </div>
           
    </div>
    <div class="row">
        <div class="col-md-4">
            {{ blog_post.image }}
        </div>
    </div>
</div>
{% endblock %}