{% extends 'base.html' %}
{% load static %}
{% block extratitle %}Edit Blog{% endblock extratitle %}
{% block content %}
<div class="container pt-5">
    <h1>Edit blog post:</h1>
</div>
{% if user.is_superuser %}
    <div class="container">
        <div class="row">
            <div class="col-md-6"> 
                <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.media}}
                {{ form.as_p}}
                    <div>
                        <p>
                            <button type="submit">Update Blog</button>
                        </p>
                    </div>
                </form>
               
            </div>
        </div>
    </div>
{% else %}
    <h2 class="text-danger text-center">This page is restricted!</h2>
{% endif %}
{% endblock %}